
@{
    ViewBag.Title = "AdminHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AdminHome</h2>
<div>
    @Html.ActionLink("Job Insertion", "Insertcompany_Pageload", "CompanyInsert")
</div>

