
@{
    ViewBag.Title = "UserHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UserHome</h2>


    <div>
        @Html.ActionLink("Search Job", "searchjob_Pageload", "SearchJob")
    </div>

