
@{
    ViewBag.Title = "companyHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>companyHome</h2>


<div>
    @Html.ActionLink("job insertion", "Insertcompany_Pageload", "CompanyInsert")
</div>